fastapi>=0.109.2
uvicorn>=0.27.1
streamlit>=1.31.1
langchain>=0.1.11
langchain-community>=0.0.28
langchain-ollama>=0.0.1
langchain-core>=0.1.31
pymongo>=4.6.1
pydantic>=2.6.1
pydantic-settings>=2.1.0
python-multipart>=0.0.9
pyttsx3>=2.90
SpeechRecognition>=3.10.0
fpdf>=1.7.2
python-dotenv>=1.0.1
requests>=2.31.0
pandas>=2.2.0
PyPDF2>=3.0.1
python-docx>=0.8.11
pdfkit>=1.0.0
pypandoc>=1.13
ollama>=0.1.14
